---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Layout from './Layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description}>
	<main>
		<article>
			<div class="hero-image">
				{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
			</div>
			<div class="prose">
				<div class="title">
					<h1>{title}</h1>
					<div class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									(Last updated on <FormattedDate date={updatedDate} />)
								</div>
							)
						}
					</div>
				</div>
				<slot />
			</div>
		</article>
	</main>
</Layout>

<style>
	.hero-image {
		width: 100%;
		margin-bottom: 2rem;
	}
	.hero-image img {
		width: 100%;
		height: auto;
		border-radius: 8px;
	}
	.prose {
		max-width: 720px;
		margin: auto;
		padding: 0 1em;
	}
	.title {
		margin-bottom: 2rem;
		border-bottom: 1px solid var(--gray-light);
		padding-bottom: 1rem;
	}
	.title h1 {
		font-size: 2.5em;
		margin-bottom: 0.5rem;
	}
	.date {
		color: var(--gray);
		font-size: 0.9em;
	}
	.last-updated-on {
		display: inline-block;
		margin-left: 0.5rem;
		font-style: italic;
	}
</style>
